<template>
  <div>
    <v-row class="text-center">
      <v-col><span class="title text-center">Popular Songs</span></v-col>
    </v-row>
    <v-row ref="top">
      <!-- <v-col cols="12" sm="6" md="3">
        <v-text-field
          solo
          label="Search"
          append-icon="mdi-magnify"
        ></v-text-field>
      </v-col> -->
    </v-row>
    <v-row>
      <v-col
        v-for="song in songs"
        :key="song.index"
        mx-auto
        cols="12"
        xs="12"
        md="4"
      >
        <v-card height="100%">
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">{{
                song.title
              }}</v-list-item-title>
              <v-list-item-subtitle
                ><span v-html="song.content.substring(0, 200) + '...'"></span
              ></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <n-link :to="'/song/' + song.songId">
              <v-btn color="main" text>Show Now</v-btn>
            </n-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-btn
      v-show="fab"
      v-scroll="onScroll"
      color="main"
      dark
      large
      fixed
      bottom
      right
      fab
      @click="$vuetify.goTo(0)"
    >
      <v-icon>mdi-arrow-up</v-icon>
    </v-btn>
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  asyncData(context) {
    return context.$axios
      .get(process.env.baseUrl + '/application/song/top-song-list')
      .then((res) => {
        if (res.data.responseCode === 1) {
          return {
            songs: res.data.responseBody.topSongList
          }
        }
      })
  },

  data() {
    return {
      songs: [],
      test: [],
      fab: false,
      baseUrl: process.env.baseUrl
    }
  },

  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
