<template>
  <div>
    <v-toolbar color="primary">
      <v-btn icon @click="$router.go(-1)">
        <v-icon color="main">mdi-arrow-left</v-icon>
      </v-btn>
      <v-text-field
        ref="search"
        v-model="searchData"
        :loading="loading"
        :search-input.sync="search"
        cache-items
        class="mx-4"
        flat
        hide-no-data
        hide-details
        label="Search title/code/lyrics"
        solo-inverted
        dark
        @keyup="search"
      ></v-text-field>
    </v-toolbar>
    <v-container>
      <v-row>
        <v-col
          v-for="song in songs"
          :key="song.index"
          mx-auto
          cols="12"
          xs="12"
          md="4"
        >
          <v-card height="100%">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1">{{
                  song.title
                }}</v-list-item-title>
                <v-list-item-subtitle
                  ><span v-html="song.content.substring(0, 200) + '...'"></span
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <n-link :to="'/song/' + song.songId">
                <v-btn color="main" text>Show Now</v-btn>
              </n-link>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <div class="text-center">
        <v-progress-circular
          v-if="loading == true"
          indeterminate
        ></v-progress-circular>
      </div>
      <v-btn
        v-show="fab"
        v-scroll="onScroll"
        color="pink"
        dark
        large
        fixed
        bottom
        right
        fab
        @click="$vuetify.goTo(0)"
      >
        <v-icon>mdi-arrow-up</v-icon>
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  layout: 'empty',
  data() {
    return {
      songs: [],
      searchData: '',
      next: 0,
      loading: false,
      fab: false,
      baseUrl: process.env.baseUrl
    }
  },

  mounted() {
    this.$refs.search.focus()
  },

  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    },
    search() {
      this.loading = true

      return axios
        .get(
          this.baseUrl +
            '/application/song/search?searchData=' +
            this.searchData
        )
        .then((res) => {
          if (res.data.responseCode === 1) {
            this.songs = res.data.data
            this.loading = false
          } else {
            this.loading = false
            this.songs = []
          }
        })
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
