<template>
  <div>
    <v-row class="text-center">
      <v-col><span class="title text-center">All Song Lists</span></v-col>
    </v-row>
    <v-row ref="top">
      <!-- <v-col cols="12" sm="6" md="3">
        <v-text-field
          solo
          label="Search"
          append-icon="mdi-magnify"
        ></v-text-field>
      </v-col> -->
    </v-row>
    <v-row>
      <v-col
        v-for="song in songs"
        :key="song.index"
        mx-auto
        cols="12"
        xs="12"
        md="4"
      >
        <v-card height="100%">
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">{{
                song.title
              }}</v-list-item-title>
              <v-list-item-subtitle
                ><span v-html="song.content.substring(0, 200) + '...'"></span
              ></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <n-link :to="'/song/' + song.songId">
              <v-btn color="main" text>Show Now</v-btn>
            </n-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-card v-intersect="infiniteScrolling"></v-card>
    <div class="text-center">
      <v-progress-circular
        v-if="loading == true"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-btn
      v-show="fab"
      v-scroll="onScroll"
      color="main"
      dark
      large
      fixed
      bottom
      right
      fab
      @click="$vuetify.goTo(0)"
    >
      <v-icon>mdi-arrow-up</v-icon>
    </v-btn>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  asyncData(context) {
    return context.$axios
      .get(process.env.baseUrl + '/application/song-list')
      .then((res) => {
        if (res.data.responseCode === 1) {
          return {
            songs: res.data.data,
            next: res.data.meta.current_page + 1
          }
        }
      })
  },

  data() {
    return {
      songs: [],
      test: [],
      next: 0,
      loading: false,
      fab: false,
      baseUrl: process.env.baseUrl
    }
  },

  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    },
    infiniteScrolling(entries, observer, isIntersecting) {
      setTimeout(() => {
        return axios
          .get(this.baseUrl + '/application/song-list?page=' + this.next)
          .then((res) => {
            if (res.data.responseCode === 1) {
              if (res.data.data.length > 0) {
                this.loading = true
                this.next = res.data.meta.current_page + 1
                for (let i = 0; i < res.data.data.length; i++) {
                  this.songs.push(res.data.data[i])
                }
              } else {
                this.loading = false
              }
            }
          })
      })
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
