<template>
  <div>
    <v-row>
      <v-col
        v-for="category in categories"
        :key="category.index"
        cols="12"
        xs="12"
        md="4"
        lg="4"
      >
        <v-card height="100%" max-width="400">
          <v-img
            class="white--text align-end"
            height="200px"
            :src="category.image"
          >
            <v-card-title>{{ category.title }}</v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0"
            >Total Songs {{ category.total_songs }}</v-card-subtitle
          >

          <v-card-text class="text--primary">
            <div>{{ category.description }}</div>
          </v-card-text>

          <v-card-actions>
            <n-link :to="'/category/' + category.categoryId">
              <v-btn color="main" text>
                Show Lists
              </v-btn>
            </n-link>

            <!-- <v-btn color="orange" text>
              Explore
            </v-btn> -->
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  asyncData(context) {
    return context.$axios
      .get(process.env.baseUrl + '/application/category-list')
      .then((res) => {
        return {
          categories: res.data.responseBody.categoryList,
          total_songs: res.data.responseBody.totalSong
        }
      })
  },
  data() {
    return {
      categories: []
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
