<template>
  <div>
    <v-app-bar dark app class="primary">
      <v-btn icon @click="$router.go(-1)">
        <v-icon color="main">mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>{{ song.title }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <!-- <nuxt-link to="/song/search">
        <v-btn icon class="hidden-xs-only">
          <v-icon large color="main">mdi-magnify</v-icon>
        </v-btn>
      </nuxt-link> -->
    </v-app-bar>
    <v-content>
      <v-container>
        <v-row class="hidden-xs-only" justify="space-around">
          <p class="text-center title">"{{ song.title }}"</p>
        </v-row>
        <div justify="space-around">
          <p v-if="song.uniquid != null" class="text-center subtitle-1 mb-n1">
            Code - {{ song.uniquid }}
          </p>
          <p
            v-if="song.song_category != null"
            class="text-center subtitle-1 mb-n1"
          >
            category - {{ song.song_category }}
          </p>
          <p v-if="song.username != null" class="text-center subtitle-1 mb-n1">
            uploaded by - {{ song.username }}
          </p>
          <p v-if="song.composer != null" class="text-center subtitle-1 mb-n1">
            writer - {{ song.composer }}
          </p>
          <p v-if="song.singer != null" class="text-center subtitle-1 mb-n1">
            singer -{{ song.singer }}
          </p>
          <p v-if="song.key != null" class="text-center subtitle-1 mb-n1">
            key - {{ song.key }}
          </p>
          <p v-if="song.style != null" class="text-center subtitle-1">
            style - {{ song.style }}
          </p>
        </div>
        <div v-if="song.youtube_id != null" class="text-center">
          <v-btn class="mx-2 hidden" small fab color="secondary" @click="watch">
            <v-icon dark>mdi-television-classic</v-icon>
          </v-btn>
        </div>
        <!-- youtube -->
        <div v-if="watch_status == true" class="text-center mt-2 web_size">
          <youtube
            :video-id="song.youtube_id"
            :player-vars="playerVars"
            @playing="playing"
          ></youtube>
        </div>
        <div v-if="watch_status == true" class="text-center mt-2 phone_size">
          <youtube
            :video-id="song.youtube_id"
            :player-vars="playerVars"
            width="300px"
            height="200px"
            @playing="playing"
          ></youtube>
        </div>
        <!-- endyoutube -->
        <v-container>
          <v-row class="mt-4" justify="space-around">
            <p class="body-1">
              <span v-html="song.content"></span>
            </p>
          </v-row>
        </v-container>
      </v-container>
    </v-content>
  </div>
</template>
<script>
export default {
  layout: 'empty',
  asyncData(context) {
    return context.$axios
      .get(
        process.env.baseUrl +
          `/application/song/detail?id=${context.route.params.id}`
      )
      .then((res) => {
        return { song: res.data.responseBody }
      })
  },
  data() {
    return {
      param: this.$route.params,
      song: '',
      watch_status: false
    }
  },
  methods: {
    watch() {
      if (this.watch_status === false) {
        this.watch_status = true
      } else {
        this.watch_status = false
      }
    }
  }
}
</script>
<style>
.web_size {
  display: none;
}

.phone_size {
  display: block;
}

@media (min-width: 1280px) {
  .web_size {
    display: block;
  }

  .phone_size {
    display: none;
  }
}

.v-input__slider {
  width: 100%;
}
</style>
