<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" dark app>
      <v-list dense>
        <nuxt-link to="/">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="main">mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </nuxt-link>

        <nuxt-link to="/song/songlist">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="main">mdi-music</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Song List</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </nuxt-link>
        <nuxt-link to="/category">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="main">mdi-format-list-bulleted-type</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Category</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </nuxt-link>
        <!-- <v-list-item link>
          <v-list-item-action>
            <v-icon color="main">mdi-card-account-phone</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </v-list-item> -->
        <nuxt-link to="/about">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="main">mdi-information</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>About</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </nuxt-link>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon color="main" @click.stop="drawer = !drawer" />
      <v-toolbar-title>Karani</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-switch
        v-model="dark_mode"
        class="mx-2 mt-4"
        color="main"
        inset
        @change="switchMode"
      ></v-switch>
      <n-link to="/song/search">
        <v-btn icon>
          <v-icon large color="main">mdi-magnify</v-icon>
        </v-btn>
      </n-link>
    </v-app-bar>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <!-- <v-footer app>
      <span class="text-center mx-auto">&copy; karani.org</span>
    </v-footer> -->
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    dark_mode: false
  }),

  mounted() {
    this.$meta().refresh()
    if (localStorage.dark_mode === 'false') {
      this.dark_mode = false
      this.$vuetify.theme.dark = false
    } else {
      this.dark_mode = true
      this.$vuetify.theme.dark = true
    }
  },

  methods: {
    switchMode() {
      this.$vuetify.theme.dark = this.dark_mode
      localStorage.dark_mode = this.dark_mode
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
