<template>
  <v-card :loading="loading" class="mx-auto my-12" max-width="500">
    <v-img height="250" src="/karani_mountain.jpg"></v-img>

    <v-card-title>Karani Application</v-card-title>

    <v-card-text>
      <!-- <v-row align="center" class="mx-0">
        <v-rating
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ml-4">4.5 (413)</div>
      </v-row> -->

      <div class="my-4 subtitle-1">
        To God be the Glory
      </div>

      <div>
        Karani is an Android application that brings lyrics together to help
        each believer in worship. We divide the music into categories to make it
        easier to use. You can also search for your songs quickly by texting in
        search box. Thank you. God bless you all. Amen.
      </div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-title>Developers & Members</v-card-title>

    <v-card-text>
      <v-row>
        <v-col cols="12" xs="4" md="4">
          <v-img
            src="/kamar_profile.jpg"
            aspect-ratio="1.7"
            width="100"
            height="100"
          ></v-img>
        </v-col>
        <v-col>
          <div class="subtitle-1"><i>" Saw Kamar Lay Latt "</i></div>
          <div class="subtitle-2"><b>Developer</b></div>
          <div class="subtitle-2">
            First of all, thank God for the opportunity to make an Karani
            application. By using this application, we hope to worship God more
            and love God more. May God bless everyone who contributes to the
            application.
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs="4" md="4">
          <v-img
            src="/chew_profile.jpg"
            aspect-ratio="1.7"
            width="100"
            height="100"
          ></v-img>
        </v-col>
        <v-col>
          <div class="subtitle-1"><i>" Naw Chew Lis "</i></div>
          <div class="subtitle-2"><b>Data Anaylysis and Research</b></div>
          <div class="subtitle-2">
            First of all, I thank God for the opportunity to participate in the
            data management part of this Karani APP. Everyone who praises God
            using this app will be able to hear the words of God in each lyric .
            May they experience peace, joy and freedom from Above.
          </div>
        </v-col>
      </v-row>
      <!-- <v-chip>5:30PM</v-chip>

        <v-chip>7:30PM</v-chip>

        <v-chip>8:00PM</v-chip>

        <v-chip>9:00PM</v-chip> -->
    </v-card-text>

    <!-- <v-card-actions>
      <v-btn color="deep-purple lighten-2" text @click="reserve">
        Reserve
      </v-btn>
    </v-card-actions> -->
  </v-card>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    selection: 1
  }),

  methods: {
    reserve() {
      this.loading = true

      setTimeout(() => (this.loading = false), 2000)
    }
  }
}
</script>
