<template>
  <div>
    <v-row>
      <v-col cols="12" xs="12" md="8">
        <v-card height="100%">
          <v-img
            class="white--text align-end"
            height="200px"
            src="/karani_mountain.jpg"
            aspect-ratio="6"
          >
            <v-card-title>Karani Song Application</v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0"
            >Total Songs - {{ total_songs }}</v-card-subtitle
          >

          <v-card-text class="text--primary">
            <div>Music is an expression of praise and worship to God.</div>

            <div>
              “Sing to the Lord with grateful praise; make music to our God on
              the harp” (Psalm 147:7).
            </div>
          </v-card-text>

          <v-card-actions>
            <!-- <v-btn color="orange" text>
              Share
            </v-btn> -->

            <nuxt-link to="/song/songlist">
              <v-btn color="orange" text>
                Song Lists
              </v-btn>
            </nuxt-link>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" xs="12" md="4">
        <v-card height="100%">
          <v-img
            class="white--text align-end"
            height="200px"
            src="/top_songs.jpg"
          >
            <v-card-title>Popular Songs</v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">Top Song List</v-card-subtitle>

          <v-card-text class="text--primary">
            <div>Song List for most people like</div>
          </v-card-text>
          <v-card-actions>
            <nuxt-link to="/song/popular">
              <v-btn color="orange" text>
                Popular Song Lists
              </v-btn>
            </nuxt-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col><span class="title">Song Categories</span></v-col>
    </v-row>
    <v-row>
      <v-col
        v-for="category in categories"
        :key="category.index"
        cols="12"
        md="3"
        lg="3"
      >
        <n-link :to="'/category/' + category.categoryId">
          <v-card height="150" width="100%">
            <v-img
              :src="category.image"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="100%"
              width="100%"
            >
              <v-card-title
                class="title"
                v-text="category.title"
              ></v-card-title>
            </v-img>
          </v-card>
        </n-link>
      </v-col>
    </v-row>
    <!-- <v-slide-group
      v-show="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm"
      v-model="model"
      class="pa-4"
    >
      <v-slide-item
        v-for="category in categories"
        :key="category.index"
        v-slot:default="{ active, toggle }"
      >
        <n-link :to="'/category/' + category.categoryId">
          <v-card
            width="200"
            height="100%"
            class="mr-4"
            :input-value="active"
            @click="toggle"
          >
            <v-img
              :src="category.image"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="100%"
              width="100%"
            >
              <v-card-title
                class="subtitle-2"
                v-text="category.title"
              ></v-card-title>
            </v-img>
          </v-card>
        </n-link>
      </v-slide-item>
    </v-slide-group> -->
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  asyncData(context) {
    return context.$axios
      .get(process.env.baseUrl + '/application/category-list')
      .then((res) => {
        return {
          categories: res.data.responseBody.categoryList,
          total_songs: res.data.responseBody.totalSong
        }
      })
  },
  data() {
    return {
      model: null,

      categories: [],

      baseUrl: process.env.baseUrl
    }
  }
}
</script>
<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
