<template>
  <v-layout>
    <v-flex class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <div>
        <youtube
          video-id="Jwto6Oj93K0"
          :player-vars="playerVars"
          @playing="playing"
        ></youtube>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {}
</script>
